@import "./utils/variables";
@import "./utils/mixins";

// Parametres generaux
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $color-body;
  
  margin: auto;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 2.7em;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.3em;
  font-weight: 600;
  color: black;
}
p,
span,
i {
  font-size: 1.4em;
}
a {
  text-decoration: none;
  color: white;
}
// En tête du site avec le header
.header-search {
  @include header-search;
  &__logo{
    background-color: white;
    height: 40px;
    width: 100%;
    @include flex;
   
    
}
  &__form {
    width: 100%;
    height: 40px;
    border: none;
    @include flex;
    background-color: $color-form;
    margin-bottom: 30px;
    & input{
      border: none;
      background-color:$color-form;
      margin-left: 15px;
      font-size: 1.5em;
      font-family: 'roboto'sans-serif;
      font-weight: bold;
      width: 160px;
      
    }
    & input:focus{
      outline-style: none ;
    }
  }
  &__title {
    margin-bottom: 10px;
  }
  &__subtitle {
    margin-bottom: 25px;
    text-align: center;
  }
  &__btn {
    @include btn;
    @include shadow;
    transition: 0.5s;
    &:hover{
      filter: brightness(110%) ;
      box-shadow: 0px 6px 23px 0px rgba(0, 0, 0, 0.5);

    }
  }
  
}
// Bloc section avec les filtres du site
.container-filter {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;

  &__Bloc-filter {
    padding-top: 20px;
    @include flex-column;
  }
}
.section-title {
  @include section-title;
}
.Filter {
  @include list;
  @include flex;
  @include shadow;
  position: relative;
  color: grey;
  background-color: $color-body;
  cursor: pointer;
  transition: 0.3s;
  &.Filter:hover{
    background-color: $color-primary;
    
    @include hover-filter;
  }
  &__logo {
    @include logo-items;
    & i:hover{
      color: $color-primary
    }
  }
  &__title {
    @include flex;
    width: 200px;
    height: 50px;

    &--text-align {
      justify-content: left;
    }
  }
  &__pastille {
    @include flex;
    @include pastille;
  }
}
// Section des restaurants comportant les vignettes
.Bloc-restaurant {
  @include grid;
  width: 100%;
  margin-bottom: 55px;
  padding: 15px;
}

.Bloc-card {
  &__pointer {
    width: 100%;
    height: auto;
  }
  @include card;
  @include shadow;
  &__img {
    @include img;
  }
  &__title {
    @include title;
    &--font-size h3 {
      font-size: 1.7em;
    }
    &--font-size p {
      color: black;
    }
  }
  &__new {
    @include absolute;
    @include flex;
  }
  &__like {
    @include flex;
    @include heart;
  }
}

// Mise en frome de la partie footer
.Footer {
  width: 100%;
  background-color: #353535;
  @include flex;
  &__container {
    display: inline;
    padding: 0 40px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 30px;
    & .logo {
      font-family: "Shrikhand", "cursive";
      color: white;
      font-size: 2em;
      padding: 15px;
    }
    &-links {
      display: inline-flex;
      flex-direction: column;
      width: auto;
    }
    &-link {
      display: inline-flex;
      align-items: center;
      flex-direction: row;
      text-align: center;
      color: white;
      height: 30px;
      cursor: pointer;

      & i {
        width: 30px;
        padding-right: 12px;
      }
      &__title {
        font-size: 1.6em;
        font-weight: 400;
        color: white;
      }
    }
  }
}

// Page menu "La palette du goût
