@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";

// Parametres generaux
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $color-body;

  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 2.7em;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
  font-weight: 600;
  color: black;
}
p,
span,
i {
  font-size: 1.2em;
}
a {
  text-decoration: none;
  color: white;
}

// En-tete avec integration du logo + image du restaurant
.Header {
  display: flex;
  margin-bottom: 15px;
  margin-top: 15px;
  &__title {
    @include flex;
    flex-direction: column;

    &--size {
      width: 200px;
      height: 25px;
    }
  }
  &__arrow {
    @include arrow;
    & a {
      color: black;
    }
  }
}

.Header-pics {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  &__size {
    height: 100%;
    width: 110%;
    object-fit: cover;
  }
}

//  Mis en place de l'unique section des menus
main {
  background-color: white;
  width: 100%;
  @include flex;
}
.Section {
  background-color: $color-body;
  width: 100%;
  margin-top: -40px;
  border-radius: 30px;
  padding: 0 20px;
  & h2 {
    margin-bottom: 20px;
  }

  &__title {
    font-family: "Shrikhand", "sans-serif";
    font-size: 1.2em;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-body;

    & i {
      @include logo-items;
      font-size: 20px;
      margin-bottom: 18px;
    }
  }
}
// Ajout d'un grid pour partitioner les ( entrées , plats et desserts)
.grid-composition {
  &__disposition {
    display: flex;
    flex-direction: column;
    font-size: 8px;
    margin-bottom: 40px;
    animation: menu 1s ease-in 0ms 1 alternate backwards;
    & h2 {
      font-weight: normal;
      text-transform: uppercase;
      padding-left: 10px;
    }
    & h2::after {
      content: " ";
      background-color: $color-tertiary;
      display: block;
      width: 45px;
      height: 4px;
      margin-top: 5px;
    }
    &--1 {
      animation: menu 1s ease-in 700ms 1 alternate backwards;
    }
    &--2 {
      animation: menu 1s ease-in 1200ms 1 alternate backwards;
    }
  }
}
.Food-composition {
  @include list;
  @include shadow;
  @include flex;
  font-size: 10px;

  line-height: 2em;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &--modifier {
    background-color: white;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__flex {
    white-space: nowrap;
    overflow: hidden;
    margin-left: 20px;

    & p,
    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__price {
    padding: 21px 20px 0 8px;
    font-weight: bold;
    font-size: 11px;
  }
  &:hover .Food-composition__price {
    padding-right: 80px;
    transition: padding-right 0.5s 0.5s ease;
  }
  &:hover .roll {
    display: flex;
    animation: slide-in-right 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) both;
  }
}
.fa-check-circle {
  color: white;
  animation: rotate-center 1.3s 100ms ease 1 none;
}
.roll {
  display: none;
  position: absolute;
  right: 0;
  width: 70px;
  height: 70px;
  border-radius: 0 15px 15px 0;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
}
// Mis en forme du boutton "commander "
.Food-order {
  @include flex;
  margin: 30px 0 40px 0;
  &__btn {
    @include btn;
    transition: 0.5s;
    &:hover {
      filter: brightness(110%);
      box-shadow: 0px 6px 23px 0px rgba(0, 0, 0, 0.5);
    }
    &--resize {
      width: 150px;
      margin-bottom: 0;
    }
  }
}
//  Pied de page ( reutilisation a l'identique de celui de notre page d'acceuil
.Footer {
  width: 100%;
  background-color: #353535;
  @include flex;
  &__container {
    display: inline;
    padding: 0 40px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 30px;
    & .logo {
      font-family: "Shrikhand", "cursive";
      color: white;
      font-size: 2em;
      padding: 15px;
    }
    &-links {
      display: inline-flex;
      flex-direction: column;
      width: auto;
    }
    &-link {
      display: inline-flex;
      align-items: center;
      flex-direction: row;
      text-align: center;
      color: white;
      height: 30px;
      cursor: pointer;

      & i {
        width: 30px;
        padding-right: 12px;
      }
      &__title {
        font-size: 1.6em;
        font-weight: 400;
        color: white;
      }
    }
  }
}
//  Fin de la premiere page menu
