html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  max-width: 375px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.7em;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
  font-weight: 600;
  color: black;
}

p,
span,
i {
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: white;
}

.header-search {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-search__form {
  width: 100%;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e1e1;
  margin-bottom: 30px;
}
.header-search__title {
  margin-bottom: 10px;
}
.header-search__subtitle {
  margin-bottom: 25px;
  text-align: center;
}
.header-search__btn {
  background: linear-gradient(to bottom, #ff79db, #9456dc);
  text-decoration: none;
  border: none;
  border-radius: 25px;
  width: 200px;
  height: 40px;
  margin-bottom: 50px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 6px 23px 0px rgba(0, 0, 0, 0.2);
}

.container-filter {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
.container-filter__Bloc-filter {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  width: 100%;
  height: 70px;
  padding-left: 20px;
  padding-top: 30px;
}

.Filter {
  background-color: #f2f2f2;
  width: 250px;
  height: 50px;
  border: solid 1px #f2f2f2;
  border-radius: 15px;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 23px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  color: grey;
}
.Filter__logo {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Filter__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
}
.Filter__title--text-align {
  justify-content: left;
}
.Filter__pastille {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 45px;
  color: white;
  position: absolute;
  left: -6px;
  width: 15px;
  height: 15px;
}

.Bloc-restaurant {
  display: grid;
  height: auto;
  grid-template-columns: 1fr;
  row-gap: 20px;
  width: 100%;
  margin-bottom: 55px;
}

.Bloc-card {
  width: 100%;
  height: auto;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 6px 23px 0px rgba(0, 0, 0, 0.2);
}
.Bloc-card__pointer {
  width: 100%;
  height: auto;
}
.Bloc-card__img {
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  display: block;
}
.Bloc-card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 0 0 15px 15px;
  padding: 0 15px;
  color: black;
}
.Bloc-card__title--font-size h3 {
  font-size: 1.7em;
}
.Bloc-card__title--font-size p {
  color: black;
}
.Bloc-card__new {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 70px;
  height: 30px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #00803a;
  font-weight: bold;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Bloc-card__like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 1.6em;
  color: black;
  font-weight: normal;
}

.Footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Footer__container {
  display: inline;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 30px;
}
.Footer__container .logo {
  font-family: "Shrikhand", "cursive";
  color: white;
  font-size: 2em;
  padding: 15px;
}
.Footer__container-links {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}
.Footer__container-link {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: white;
  height: 3em;
  cursor: pointer;
}
.Footer__container-link i {
  margin-right: 7px;
  width: 30px;
  height: 30px;
}
.Footer__container-link__title {
  font-size: 1.6em;
  font-weight: 400;
  color: white;
}

/*# sourceMappingURL=style.css.map */
