// Creéation de l'animation d'apparition progressive des menus
@keyframes menu {
  0% {
    transform: translateY(20px);

    opacity: 0;
  }

  100% {
    transform: translateY(0);

    opacity: 1;
  }
}
// Création de l'animation rotate de l'icone check
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

//   Création de l'animation de l'apparition en slide right du bouton de validation de plat

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
