// Declaration de mixins pour les boutons

@mixin btn {
    background: linear-gradient(to bottom, #FF79DB, #9456DC);
    text-decoration: none;
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 40px;
    margin-bottom: 50px;
    color: white;
    box-shadow: 5px 4px 24px -1px rgba(0,0,0,0.51); 
    cursor: pointer;
    
}
@mixin header-search {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}