// Declaration de mixins pour les boutons

@mixin btn {
  background: linear-gradient(to bottom, #ff79db, #9456dc);
  text-decoration: none;
  border: none;
  border-radius: 25px;
  width: 200px;
  height: 40px;
  margin-bottom: 50px;
  color: white;
  cursor: pointer;
}
@mixin shadow {
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.1);
}
@mixin section-title {
  width: 100%;
  padding-left: 20px;
  
}
@mixin header-search {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin list {
  background-color: $color-body;
  width: 100%;
  height: 50px;

  border-radius: 15px;
  margin-bottom: 22px;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin hover-filter($colour: $color-primary) {
  @if (lightness($colour) < 70%) {
    $colour: lighten($colour, 35%);
  } @else {
    $colour: darken($colour, 10%);
  }
  background-color: $colour;
}
@mixin logo-items {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin pastille {
  background-color: $color-primary;
  border-radius: 45px;
  color: white;
  position: absolute;
  left: -6px;
  width: 15px;
  height: 15px;
}
@mixin grid {
  display: grid;
  height: auto;

  row-gap: 20px;
}
@mixin card {
  width: 100%;
  height: auto;
  border-radius: 15px;
  position: relative;
}
@mixin img {
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  display: block;
}
@mixin title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 0 0 15px 15px;
  // padding: 0 15px;
  color: black;
}
@mixin absolute {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 70px;
  height: 30px;
  border-radius: 2px;
  background-color: $color-tertiary;
  color: rgb(0, 128, 58);
  font-weight: bold;
  z-index: 1000;
}
@mixin heart {
  width: 50px;
  height: 50px;
  font-size: 1.6em;
  color: black;
  font-weight: normal;
}
@mixin footer-flex {
  display: flex;
  flex-direction: column;
  justify-items: start;
  color: whitesmoke;
}
// Mixins de la partie des menus

@mixin arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  margin-right: 20px;
}
